@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --gradient-primary: linear-gradient(to bottom right, #2E5984, #D2737D);
}


body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  background:url("/bg.webp");
  background-repeat: repeat;  
  background-position: left top;
  background-color: #fff;
  background-attachment: fixed;
  background-size: auto;
}
/* CSS to handle dropdown visibility and smooth transitions */
.dropdown-menu {
  position: absolute;

  transform: translateX(-50%);
  top: 100%;
  width: 250px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  pointer-events: none;
  transition: all 0.3s ease-out;
  z-index: 50;
}

.group:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

/* Optional styling for hover effects
a:hover {
  background-color: #f4f4f4;
} */


/* Loader  */

.loader-container {
  position: fixed;
  inset: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader-img {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.blink-text {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  animation: blink 1.2s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
